*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main_container{
    display: flex;
    /* text-align: center;
    justify-content: center; */
    /* align-items: center; */
    /* border: 2px solid black; */
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
}
#left_container{
    /* border: 2px solid black; */
    width: 50vw;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:50px;
    background-color: antiquewhite;
}
#notes{
    width: 30vw;
    height: 30vh;
    text-align: center;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px rgb(210, 207, 207);
}
#button{
        /* padding: 20px 50px;
        border-radius: 10px;
        background:linear-gradient(to right,rgb(236, 221, 56) ,rgb(227, 29, 178),rgb(240, 106, 53));
        color: white;
        font-weight:bold;
        font-size: 18px;
        border: none;; */
  

}
.btn{
    padding: 20px 50px;
    border-radius: 10px;
    background:linear-gradient(to right,rgb(236, 221, 56) ,rgb(227, 29, 178),rgb(240, 106, 53));
    color: white;
    font-weight:bold;
    font-size: 18px;
    border: none;;
}
.btn:hover{
    box-shadow: 5px 5px 5px 5px rgb(228, 172, 135);
}
.right_container{
    text-align: center;
    border: 2px solid rgb(54, 206, 37);
    width: 50% ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    
}
    